<script>
	import '../app.postcss';
	import Header from '../components/Header.svelte';
	import Footer from '../components/Footer.svelte';
</script>

<svelte:head>
	<meta name="title" content="Germain Leignel" />
	<meta name="description" content="My curriculum vitae" />
	<meta
		name="keywords"
		content="Germain, Leignel, Germain Leignel, DevOps, Programming, CV, Curriculum Vitae"
	/>
	<meta name="robots" content="index, follow" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="English" />
	<meta name="revisit-after" content="50 days" />
	<meta name="author" content="Germain Leignel" />
</svelte:head>

<div class="m-4 md:m-24 md:mt-4">
	<Header />
	<div class="w-full flex flex-col items-center mb-5">
		<div class="md:w-8/12 lg:w-6/12 space-y-6">
			<slot />
			<div class="h-0.5 w-full bg-links rounded" />
			<Footer />
		</div>
	</div>
</div>

<style>
	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-Thin.woff2') format('woff2'), url('fonts/Inter-Thin.woff') format('woff');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-Black.woff2') format('woff2'),
			url('fonts/Inter-Black.woff') format('woff');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-ExtraBold.woff2') format('woff2'),
			url('fonts/Inter-ExtraBold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-Regular.woff2') format('woff2'),
			url('fonts/Inter-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-SemiBold.woff2') format('woff2'),
			url('fonts/Inter-SemiBold.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-ExtraLight.woff2') format('woff2'),
			url('fonts/Inter-ExtraLight.woff') format('woff');
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-Bold.woff2') format('woff2'), url('fonts/Inter-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-Medium.woff2') format('woff2'),
			url('fonts/Inter-Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('fonts/Inter-Light.woff2') format('woff2'),
			url('fonts/Inter-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	/* :global(body) {
		font-family: 'Inter';
	} */
</style>
