<svelte:head>
	<title>Germain Leignel</title>
</svelte:head>

<div class="flex flex-col items-start justify-center space-y-6 text-justify">
	<div class="my-5 flex flex-col items-start space-y-2">
		<h1 class="text-4xl md:text-5xl font-bold text-center">DevOps student at EPSI Bordeaux</h1>
		<!-- <div class="h-1 w-full bg-links rounded" /> -->
	</div>
	<img src="other.png" alt="home" class="border border-gray-600" />
	<div class="flex flex-col items-start space-y-2">
		<h1 class="text-xl font-bold">Who am I ?</h1>
		<div class="h-0.5 w-full bg-links rounded" />
	</div>
	<p>
		Over the course of my (so far) short life, I’ve always taken a keen interest in all aspects of
		computer science. From tinkering with hardware to writing svelte webapps through making all
		kinds of python scripts or Flutter apps.
	</p>
	<p>
		Currently studying in my second year for a bachelor’s in software engineering at EPSI Bordeaux, I am
		continuously learning all kinds of new technologies.
		This year I have started learning new languages such as PHP with Symfony or Typescript with React.
	</p>
	<p>
		Outside of university I enjoy discovering new ways of writing software, recently taking an
		interest in Golang for server-side applications such as APIs.
	</p>
	<div class="flex flex-col items-start space-y-2">
		<h1 class="text-xl font-bold">Future life prospects</h1>
		<div class="h-0.5 w-full bg-links rounded" />
	</div>
	<p>
		I ma currently an intern at Onepoint where i will continue my education as a apprentice
	</p>
	<div class="flex flex-col items-start space-y-2">
		<h1 class="text-xl font-bold">Outside of tech</h1>
		<div class="h-0.5 w-full bg-links rounded" />
	</div>
	<p>
		I enjoy a variety of sports: especially badminton, windsurfing, bouldering and mountain bike.
	</p>
	<p>
		I am also an amateur photograph. Mainly taking night-time photography, especially
		astrophotography and light painting. Here’s 2 examples of what I take.
	</p>
	<div class="flex flex-col md:flex-row justify-between my-3 space-y-3">
		<img src="astro.webp" alt="astrophotography" class="w-full h-auto md:w-5/12" />
		<img src="lp.webp" alt="light painting" class="w-full h-auto md:w-5/12" />
	</div>
</div>

<style lang="postcss">
	p {
		font-size: 0.875rem // /* 14px */;;
		line-height: 1.25rem // /* 20px */;;
	}
	@media (min-width: 768px) {
		p {
			font-size: 1rem // /* 16px */;;
			line-height: 1.5rem // /* 24px */;;
		}
	}
</style>
