<script>
	import WorkExperience from '../../components/WorkExperience.svelte';
	import SkillBlock from '../../components/SkillBlock.svelte';
</script>

<svelte:head>
	<title>Curriculum vitae | Germain Leignel</title>
</svelte:head>

<div class="flex flex-col justify-center items-center my-6 space-y-2">
	<img src="me.webp" alt="Me" height="160" width="160" class="rounded-full" />
	<p>👨‍🎓 Software engineering student</p>
	<p>📍 EPSI Bordeaux</p>
</div>

<div class="my-6 flex flex-col space-y-10">
	<!-- technologies -->
	<div class="flex flex-col space-y-5 m">
		<SkillBlock
			title="Favourite technologies"
			items={['Go', 'Python', 'Svelte', 'Git', 'Flutter',]}
		/>
		<SkillBlock
			title="Interests"
			items={[
				'Microserevices',
				'C++',
				'Docker',
				'CI/CD pipelines (GitLab CI, GitHub actions)',
				'Azure DevOps',
				'GitLab'
			]}
		/>
	</div>

	<!-- experiences -->
	<div class="flex flex-col space-y-5">
		<h1 class="text-2xl font-bold">Experiences</h1>
		<WorkExperience
			title="Onepoint"
			paragraph="Comparison of monolith, microservice and serverless app"
			time="Ongoing - May 2022"
		/>
		<WorkExperience
			title="Onepoint"
			paragraph="Tasked with writing the scope of a project around finops and the Prius effect"
			time="7 weeks - January/February 2022"
		/>
		<WorkExperience
			title="Citoyen Connect"
			paragraph="As part of my first internship I was set to help develop a mobile app with Flutter and Django (Backend). This helped me learn how to set daily tasks and weekly goals set by a team leader"
			time="8 weeks - May/June 2021"
		/>
		<WorkExperience
			title="Another Todo"
			paragraph="I set myself on creating a todo app using Flutter and Firebase from scratch and implementing Google Auth in order to learn more about these technologies"
			time="2 weeks - 2020"
		/>
		<WorkExperience
			title="FingSwipe"
			paragraph="Android game created with Flutter in a team. This project is part of the 'Workshop' set by my university every year, we won this year's competition."
			time="1 week - 2020"
		/>
		<WorkExperience
			title="HackTheMidlands 4.0"
			paragraph="While developping an uber eats clone in 24 hours for a hackathon I gained experience in fast teamworking and problem solving"
			time="24 hours - 2019"
		/>
	</div>

	<!-- education -->
	<div class="flex flex-col space-y-5">
		<h1 class="text-2xl font-bold">Education</h1>
		<WorkExperience title="Software engineering Bachelors" paragraph="EPSI Bordeaux" time="2020 - 2023" />
		<WorkExperience
			title="A-Levels - Math, Computer Science, Physics"
			paragraph="Alderbrook Sixth Form - Birmingham, UK"
			time="2018 - 2020"
		/>
		<WorkExperience title="GCSEs" paragraph="Langley School - Birmingham, UK" time="2016 - 2018" />
	</div>
</div>
