<footer class="flex flex-col space-y-5">
	<!-- Find my CV -->
	<div class="flex flex-col space-y-5">
		<h1 class="text-2xl font-bold">Download my cv</h1>
		<p>
			By
			<a href="/#" download="CV LEIGNEL Germain.pdf" class="underline hover:no-underline text-links">
				clicking here
			</a>
		</p>
	</div>
	<!-- contact me -->
	<div class="flex flex-col space-y-5">
		<h1 class="text-2xl font-bold">Contact me</h1>
		<p>
			By
			<a href="mailto:germain.leignel@gmail.com" class="underline hover:no-underline text-links">
				sending me an email
			</a>
		</p>
	</div>
	<!-- social -->
	<div class="flex flex-col space-y-5">
		<h1 class="text-2xl font-bold">Find me on</h1>
		<a
			href="https://www.linkedin.com/in/germain-leignel-785b61172/"
			class="underline hover:no-underline text-links"
		>
			LinkedIn
		</a>
		<a href="https://github.com/Germain-L" class="underline hover:no-underline text-links">
			GitHub
		</a>
	</div>
	<!-- tech -->
	<div class="flex flex-col space-y-5">
		<h1 class="text-2xl font-bold">How i built this site</h1>
		<div class="flex flex-row space-x-1">
			<p>Made with</p>
			<a href="https://kit.svelte.dev" class=" underline hover:no-underline text-links">SvelteKit</a
			>
			<p>and</p>
			<a href="https://tailwindcss.com/" class=" underline hover:no-underline text-links"
				>TailwindCSS</a
			>
		</div>
	</div>
</footer>
