<script>
	export let title;
	export let items;
</script>

<div class="flex flex-col">
	<h2 class="text-2xl font-bold">{title}</h2>
	<ul class="list-disc list-inside ml-2">
		{#each items as item}
			<li>{item}</li>
		{/each}
	</ul>
</div>
