<script lang="ts">
	import { onDestroy } from 'svelte';

	let seconds = 0;

	const interval = setInterval(() => {
		seconds = seconds + 1;
	}, 1000);

	onDestroy(() => {
		clearInterval(interval);
	});
</script>

<p class="w-14">{seconds}s</p>
