<script>
	export let title;
	export let paragraph;
	export let time;
</script>

<div class="flex flex-row space-x-2">
	<div class="border-2 rounded-xl border-links bg-links" />
	<div class="flex flex-col">
		<h2 class="text-2xl capitalize">{title}</h2>
		<p>{paragraph}</p>
		<p class="font-bold">{time}</p>
	</div>
</div>
